extends layout
block content
    h1 Patient page for: #{patient.patientName}
    p The ID for the patient is: #{patient.patientID}
    p The email for the patient is: #{patient.ptEmailAddress}
    p This is the patients date of birth:#{patient.patientDOB}
    p The phone number for the patient is: #{patient.patientPhoneNumber}
    p Later on we will be able to display the programme and modules